<article>
    <img class="label" src="assets/Logo.png" height="180px" width="480px">
    <section class="body">
        <h1>This Project</h1>
            <p>
                The project you are looking at now. 
                It's here to be seen by all the ages and won't be going away 
                any time soon. This is really just a test run to see the 
                capabilities of this system, but I sure am having
                a lot of fun with it
            </p>        
    </section>
</article>