<footer>
    <table>
        <tr>
            <td><h4>&copy; Copyright Joshua Schoep 2019</h4></td>
            <td><h4>Powered by NodeJS</h4></td>
        </tr>
    </table>
    <table>
        <tr>
            <td><img src="assets/http.png" alt="HTTPS Secured." title="Secured with HTTPS" height="48px"></td>
            <td><img src="assets/angular.png" alt="Angular Powered." title="Powered by Angular" height="48px"></td>
            <td><img src="assets/karma.png" alt="Karma Tested." title="Tested with Karma" height="48px"></td>
        </tr>
    </table>
</footer>