<footer>
    <div>
        <h4 id="copyright">&copy; Copyright Joshua Schoep 2019</h4>
    </div>
    <div>
        <h4>Powered by Nginx</h4>
    </div>
    <table>
        <tr>
            <td><img src="assets/http.png" alt="HTTPS Secured." title="Secured with HTTPS" height="48px"></td>
            <td><img src="assets/angular.png" alt="Angular Powered." title="Powered by Angular" height="48px"></td>
            <td><img src="assets/karma.png" alt="Karma Tested." title="Tested with Karma" height="48px"></td>
        </tr>
    </table>
</footer>