.content-wrap{
    display: block;
    overflow: hidden;
    padding-bottom: 10rem;
}

app-card-group{
    width: 100%;
    overflow: hidden;
}

app-footer{
    max-height: 10rem;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}