article{
    padding: 50px;
    overflow: hidden;
}

h1{
    display: block;
    width: 100%;
    font-size: 3rem;
    color: #222;
}

section{
    clear: both;
}

app-card{
    display: block;
    margin: 30px;
    float: left;
}