*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 24px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 18px;
}

h4, h5, h6{
    font-size: 16px;
}

p, a{
    font-size: 14px;
}

a{
    color: #fff;
    text-decoration: none;
    display: block;
    transition-duration: 0.18s;
    float: left;
}

.right{
    float: right;
}

.left{
    float: left;
}

app-root{
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}