article{
    display: block;
    background-color: #fff;
    width: 25em;
    height: 20em;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.4);
    overflow: hidden;
}

img.label{
    text-align: center;
    color: #333;
    object-fit: contain;
    padding: 0px;
    margin: 0px;
    display: block;
    height: 10em;
    width: 100%
}

section.body{
    display: block;
    padding: 8px;
}

h1{
    font-size: 1.5em;
    font-weight: bold;
    margin: 8px;
}

p{
    padding-top: 1.1em;
    color: #333;
    line-height: 1.5em;
    font-size: 1.1em;
    text-overflow: ellipsis;
}

a{
    color: #000;
}

@media screen and (max-width: 540px){
    article{
        width: 100%;
        height: auto;
        box-shadow: none;
        border: none;
    }

    img.label{
        object-fit: contain;
        margin: auto;
        object-fit: cover;
        max-height: 50vw;
        width: 80vw;
    }

    section.body{
        background-color: transparent;
    }
}