mat-card{
    width: 25em;
    overflow: hidden;
}

@media screen and (max-width: 540px){
    article{
        width: 100%;
        height: auto;
        box-shadow: none;
        border: none;
    }

    img.label{
        object-fit: contain;
        margin: auto;
        object-fit: cover;
        max-height: 50vw;
        width: 80vw;
    }

    section.body{
        background-color: transparent;
    }
}