.content-wrap{
    display: block;
    overflow: hidden;
    margin-bottom: 10rem;
}

app-card-group{
    width: 100%;
    overflow: hidden;
}

app-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

@media screen and (max-width: 540px){
    .content-wrap{
        z-index: 0;
        min-height: 30vh;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        background-color: white;
        margin-bottom: 12.3rem;
        overflow: hidden;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
    }

    app-card-group{
        margin-bottom: 50px;
    }
}