footer{
    display: block;
    width: 100%;
    background-color: #484848;
    color: #fff;
    text-align: center;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
}

footer div{
    display: inline-block;
    padding: 5px;
}

h4{
    font-size: 1em;
    font-weight: normal;
    padding: 5px;
}

table{
    margin: auto;
}

table img{
    height: 48px;
}

@media screen and (max-width: 540px){

    footer div{
        display: block;
        width: 100%;
    }

    footer div:nth-of-type(2){
        padding-bottom: 15px;
    }

    
}